---
title: Home
layout: base
---

<aside>
  <div class="logo-container">
    <a
      class="logo"
      href="{{ page.baseurl }}"
      style="background-image: url('{{ site.baseurl }}{{ site.logo }}')"
    ></a>
  </div>
  <ul class="fa-ul main-list">
    {% if site.social.github %}
    <li class="main-list-item">
      <i class="fab fa-github fa-lg main-list-item-icon"></i>
      <a href="{{ site.social.github }}" target="_blank">GitHub</a>
    </li>
    {% endif %} {% if site.social.instagram %}
    <li class="main-list-item">
      <i class="fab fa-instagram fa-lg main-list-item-icon"></i>
      <a href="{{ site.social.instagram }}" target="_blank">Instagram</a>
    </li>
    {% endif %} {% if site.social.linkedin %}
    <li class="main-list-item">
      <i class="fab fa-linkedin fa-lg main-list-item-icon"></i>
      <a href="https://www.linkedin.com/in/thisisaro" target="_blank"
        >LinkedIn</a
      >
    </li>
    {% endif %} {% if site.social.email %}
    <li class="main-list-item">
      <i class="fas fa-envelope fa-lg main-list-item-icon"></i>
      <a href="{{ site.social.email }}" target="_blank">Email</a>
    </li>
    {% endif %}
  </ul>
</aside>

{% capture biosketch %}{% include biosketch.md %}{% endcapture %} {{ biosketch |
markdownify }}
