* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.main-container {
    position: relative;
}

.menu-container {
    border: 2px solid white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: cadetblue;
}

.nav-block {
    opacity: 0;
    /* height: 55px; */
    /* width: 55px; */
    border: 2px solid white;
    margin: 2px;
    border-radius: 50%;
    transition: opacity 0.3s, transform 0.3s;
    transition-duration: 0.5s;
}

.nav-menu {
    border: 2px solid white;
    height: 50px;
    width: 50px;
    background-color: rgb(100, 100, 100);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    transition: all 0.5s;
    padding: 5px;
    order: 0;
}

.nav-menu:hover {
    height: 75px;
    width: 75px;
    font-size: 27px;
    /* order: 0; */
}

.nav-block:hover {
    height: 55px;
    width: 55px;
    font-size: 27px;
    /* order: 0; */
}

.navActive {
    opacity: 1;
    transition: opacity 0.5s, transform 0.5s;
    height: 45px;
    width: 45px;
}

h1 {
    text-align: center;
    color: black;
}

.page1 {
    height: 100vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page1 h1 {
    border: 2px solid black;
}

.page2 {
    height: 100vh;
    background-color: blue;
}

.page3 {
    height: 100vh;
    background-color: antiquewhite;
}
